* {
    padding: 0 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;    
}

.conteiner {
    color: #ffffff;
    background-color: #1f2937;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.headerlogo {
    font-size: 24px;    
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;    
}

.titlesub {
    font-size: 18px;
    color: #e5e7eb;    
}

.headerbody {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

img {
    max-height: 200px;
    margin-left: 42px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.middle {
    padding: 20px;
    text-align: center;
}
.head2 {
    font-size: 32px;
    color: #1f2937;
    font-weight: 700;
    margin: 45px;
}

.box {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
    margin: 20px 50px 200px 200px;
    gap: 30px;    
}

.boxes {    
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    border-radius: 13px;    
}

.quotesection {
    background-color: #e5e7eb;
    padding: 22px;
    display: flex;
    flex-direction: column;   
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;   
}

.author {
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;
}

.callAction {
    padding: 90px 110px;    
}

.call-action {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    display: flex;
    padding: 30px 80px;
    justify-content: space-around;
}

.button2 {
    background-color: #3882f6;    
    padding: 5px 15px;
    border-radius: 7px;
    border: 2px solid #ffffff; 
    cursor: pointer;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
    justify-content: center;
}